.borderOutside {
	background-image: linear-gradient(35deg,var(--gradient));
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.form {
	display: flex;
	flex-direction: column;
	background-color: var(--purple);
	gap: 24px;
	padding-inline: 32px;
	padding-block: 32px;
	border: 40px solid var(--gradient);
}
.form label {
	width: 100%;
}
label input:not(.child1 .inputItem) {
	width: 100%;
}
.inputItem {
	border: none;
	outline: none;
	font: var(--input-placeholder);
	background: none;
	color: var(--green);
}
input:focus {
	border-bottom: 4px solid var(--bg-color);
	animation: border .3s ease-in;
}
.inputItem::placeholder{
	color: var(--placeholder);
}
@keyframes border {
	0% {
		border-bottom: 4px solid transparent;
	}
	100% {
		border-bottom: 4px solid var(--bg-color);
	}
}
.child1 {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.sendInfo {
	background-color: var(--bg-color);
	box-shadow: -4.8208px 4px #FFFFFF;
	color: #FFFFFF;
	text-transform: uppercase;
	inline-size: 100%;
	max-inline-size: 500px;
	margin: 0 auto;
	border: none;
	padding-block: 16px;
	font: var(--button);
}
@media screen and (min-width: 500px) {
	.form {
		padding-inline: 80px;
	}
	.child1 {
		flex-direction: row;
	}
}