@import './reset.css';
@import './form.css';
@import './wrapper.css';

/* Typographies */
@font-face {
	font-family: "Nexa Regular";
	src: url('../assets/fonts/Nexa-Regular.otf');
}

@font-face {
	font-family: "Nexa Bold";
	src: url('../assets/fonts/Nexa-Bold.otf');
}

@font-face {
	font-family: "Nexa Black";
	src: url('../assets/fonts/Nexa-Black.otf');
}

:root {
	/* Colors */
	--main-color: #7868AC;
	--bg-color: #EF7A94;
	--purple: #7868AC;
	--white: #FFFFFF;
	--green: #71BFBD;
	--placeholder: rgba(255, 255, 255, 0.5);
	
	--gradient: var(--green) 10%,var(--green) 25%,var(--bg-color) 50%,var(--purple) 75%,var(--white) 90%;
	
	/* Typographies */
	--font-regular: 'Nexa Regular';
	--font-bold: 'Nexa Bold';
	--font-black: 'Nexa Black';
	--input-placeholder: 24px/16px var(--font-regular);
	--title: 40px/40px var(--font-black);
	--button: 24px/16px var(--font-black)
}
body {
	height: 100vh;
	background-image: url('../assets/img/bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
}
.promotoresTitle {
	font: var(--title);
	text-transform: uppercase;
	color: var(--white);
	text-align: center;
}
@media screen and (min-width: 500px) {
	:root {
		--title: 56px/48px var(--font-black);
	}
}